In [1]:
# TODO: the following 5 functions for CRUD(create, read,update,delete) operations that work with sqlite database called chinook.db

# def create_connection(dbpath):
#   # can add verbose parameter that prints sqlite version used
#   return conn
# def create_artist(conn, artist_name):
   # use parametrized query !
#   # do not have to return anything but can use try: inside this function
# def read_artists(conn):  # can add some extra parameters to limit
#   return artists  # can return a list of tuples, or you can create a list of artist objects if you want
# def update_artist(id, new_name):
# def delete_artist(id=None, name=""):
#    # provide deletion by id AND/OR name


# test it by adding you name to artists table smile

# you can use .ipynb or .py file

In [2]:
import sqlite3
import pandas as pd

In [3]:
def create_connection(dbpath):
    conn = sqlite3.connect(dbpath)
    df = pd.read_sql_query("select sqlite_version()", conn)
    print(df)
    return conn

In [4]:
conn = create_connection("chinook.db")

  sqlite_version()
0           3.37.2

In [26]:
def create_artist(conn, artist_name):
    cur = conn.cursor()
    cur.execute("INSERT INTO artists (name) VALUES (?)", (artist_name,))
    conn.commit()

create_artist(conn, "Brainstorm")

In [27]:
def read_artists(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM artists")
    return cur.fetchall()

artists_list = read_artists(conn)
artists_list[-3:]

[(282, 'Brainstorm'), (283, 'Brainstorm'), (284, 'Brainstorm_2')]

In [16]:
def update_artist(id, new_name):
    cur = conn.cursor()
    cur.execute("UPDATE artists SET name = ? WHERE ArtistId = ?", (new_name, id))
    conn.commit()

update_artist(281, "Ieva Zarina")

In [23]:
artists_list = read_artists(conn)
artists_list[-5:]

[(276, 'Valdis Saulespurēns'),
 (277, 'Jumprava'),
 (278, 'Jumprava'),
 (281, 'Ieva Zarina'),
 (282, 'Brainstorm')]

In [41]:
def delete_artist(id=None, name=""):
    cur = conn.cursor()
    cur.execute("DELETE FROM artists WHERE ArtistId = ? OR name = ?", (id, name))
    conn.commit()

delete_artist(283)

In [42]:
artists_list = read_artists(conn)
artists_list[-5:]

[(276, 'Valdis Saulespurēns'),
 (277, 'Jumprava'),
 (278, 'Jumprava'),
 (281, 'Ieva Zarina'),
 (282, 'Brainstorm')]