In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("chinook.db")
print(con)

<sqlite3.Connection object at 0x00000240FFAA8D40>

In [3]:
df = pd.read_sql_query("select * from tracks", con)
df.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [4]:
rock_df = pd.read_sql_query("select * from v_rock_songs", con)
rock_df.head()

,TrackName,AlbumTitle,ArtistName,Genre,MediaType,time_ms,seconds,minutes,UnitPrice
0,Dazed And Confused,The Song Remains The Same (Disc 1),Led Zeppelin,Rock,MPEG audio file,1612329,1612,26,0.99
1,Space Truckin',The Final Concerts (Disc 2),Deep Purple,Rock,MPEG audio file,1196094,1196,19,0.99
2,Dazed And Confused,BBC Sessions [Disc 2] [Live],Led Zeppelin,Rock,MPEG audio file,1116734,1116,18,0.99
3,We've Got To Get Together/Jingo,Santana Live,Santana,Rock,MPEG audio file,1070027,1070,17,0.99
4,Funky Piano,Santana Live,Santana,Rock,MPEG audio file,934791,934,15,0.99

In [6]:
rock_df[rock_df["minutes"] > 5].tail()

,TrackName,AlbumTitle,ArtistName,Genre,MediaType,time_ms,seconds,minutes,UnitPrice
186,Sin,Core,Stone Temple Pilots,Rock,MPEG audio file,364800,364,6,0.99
187,Black Sabbath,Speak of the Devil,Ozzy Osbourne,Rock,Protected AAC audio file,364180,364,6,0.99
188,How Many Say I,Van Halen III,Van Halen,Rock,MPEG audio file,363937,363,6,0.99
189,No Sign of Yesterday,The Best Of Men At Work,Men At Work,Rock,MPEG audio file,362004,362,6,0.99
190,Hands All Over,A-Sides,Soundgarden,Rock,MPEG audio file,362475,362,6,0.99

In [7]:
long_rock_songs = pd.read_sql_query("select * from v_rock_songs where minutes > 5", con)
long_rock_songs.tail()

,TrackName,AlbumTitle,ArtistName,Genre,MediaType,time_ms,seconds,minutes,UnitPrice
186,Sin,Core,Stone Temple Pilots,Rock,MPEG audio file,364800,364,6,0.99
187,Black Sabbath,Speak of the Devil,Ozzy Osbourne,Rock,Protected AAC audio file,364180,364,6,0.99
188,How Many Say I,Van Halen III,Van Halen,Rock,MPEG audio file,363937,363,6,0.99
189,No Sign of Yesterday,The Best Of Men At Work,Men At Work,Rock,MPEG audio file,362004,362,6,0.99
190,Hands All Over,A-Sides,Soundgarden,Rock,MPEG audio file,362475,362,6,0.99

In [8]:
cur = con.cursor()
print(cur)

<sqlite3.Cursor object at 0x00000240FFC0AB40>

In [9]:
cur.execute("select name from sqlite_master where type = 'table'")
cur.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',),
 ('results',)]